    <model name="{{ name }}">
      <static>{{ static | lower }}</static>
      <pose>{{ pose.x }} {{ pose.y }} {{ pose.z }} {{ pose.roll | default(0) }} {{ pose.pitch | default(0) }} {{ pose.yaw | default(0) }}</pose>
      <link name="link">
        <collision name="collision">
          <geometry>
            <cylinder>
              <radius>{{ radius }}</radius>
              <length>{{ height }}</length>
            </cylinder>
          </geometry>
        </collision>
        <visual name="visual">
          <geometry>
            <cylinder>
              <radius>{{ radius }}</radius>
              <length>{{ height }}</length>
            </cylinder>
          </geometry>
          <material>
            <ambient>{{ color.r }} {{ color.g }} {{ color.b }} 1</ambient>
            <diffuse>{{ color.r }} {{ color.g }} {{ color.b }} 1</diffuse>
          </material>
        </visual>
{%- if not static %}
        <inertial>
          <mass>10.0</mass>
          <inertia>
            <ixx>0.1</ixx><iyy>0.1</iyy><izz>0.1</izz>
          </inertia>
        </inertial>
{%- endif %}
      </link>
    </model>
