    <model name="{{ name }}">
      <static>true</static>
      <pose>{{ pose.x }} {{ pose.y }} {{ pose.z }} {{ pose.roll | default(0) }} {{ pose.pitch | default(0) }} {{ pose.yaw | default(0) }}</pose>
      <link name="link">
        <collision name="collision">
          <geometry><box><size>{{ size.x }} {{ size.y }} {{ size.z }}</size></box></geometry>
        </collision>
        <visual name="visual">
          <geometry><box><size>{{ size.x }} {{ size.y }} {{ size.z }}</size></box></geometry>
          <material>
            <ambient>{{ color.r }} {{ color.g }} {{ color.b }} 1</ambient>
            <diffuse>{{ color.r }} {{ color.g }} {{ color.b }} 1</diffuse>
          </material>
        </visual>
      </link>
    </model>
